In [27]:
# Step	Task
# 1	Load raw data
# 2	Make a working copy
# 3	Standardize column names
# 4	Fix data types
# 5	Handle missing values
# 6	Remove duplicates
# 7	Fix inconsistent values
# 8	Handle outliers
# 9	Rename columns consistently
# 10 Sort & organize data
# 11 Save cleaned data

In [35]:
import pandas as pd
import numpy as np
import re

In [36]:
df = pd.read_csv("../../data/raw/Diet-compositions.csv")
display(df.head())

,Entity,Year,Cereals and Grains (FAO (2017)) (kilocalories per person per day),Pulses (FAO (2017)) (kilocalories per person per day),Starchy Roots (FAO (2017)) (kilocalories per person per day),Sugar (FAO (2017)) (kilocalories per person per day),Oils & Fats (FAO (2017)) (kilocalories per person per day),Meat (FAO (2017)) (kilocalories per person per day),Dairy & Eggs (FAO (2017)) (kilocalories per person per day),Fruit and Vegetables (FAO (2017)) (kilocalories per person per day),Other (FAO (2017)) (kilocalories per person per day),Alcoholic Beverages (FAO (2017)) (kilocalories per person per day)
0,Afghanistan,1961,2530,16,25,51,92,88,102,82,13,0.0
1,Afghanistan,1962,2458,17,22,45,98,88,101,76,12,0.0
2,Afghanistan,1963,2212,17,23,47,106,91,110,79,13,0.0
3,Afghanistan,1964,2445,18,24,55,102,93,110,95,11,0.0
4,Afghanistan,1965,2431,18,24,57,105,95,118,95,13,0.0

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8154 entries, 0 to 8153
Data columns (total 12 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Entity                                                               8154 non-null   object
 1   Year                                                                 8154 non-null   int64
 2   Cereals and Grains (FAO (2017)) (kilocalories per person per day)    8154 non-null   int64
 3   Pulses (FAO (2017)) (kilocalories per person per day)                8154 non-null   int64
 4   Starchy Roots (FAO (2017)) (kilocalories per person per day)         8154 non-null   int64
 5   Sugar (FAO (2017)) (kilocalories per person per day)                 8154 non-null   int64
 6   Oils & Fats (FAO (2017)) (kilocalories per person per day)           8154 non-null   int64
 7   Meat (FAO (2017)) (kilocalories per person per day)                  8154 non-null   int64
 8   Dairy & Eggs (FAO (2017)) (kilocalories per person per day)          8154 non-null   int64
 9   Fruit and Vegetables (FAO (2017)) (kilocalories per person per day)  8154 non-null   int64
 10  Other (FAO (2017)) (kilocalories per person per day)                 8154 non-null   int64
 11  Alcoholic Beverages (FAO (2017)) (kilocalories per person per day)   8101 non-null   float64
dtypes: float64(1), int64(10), object(1)
memory usage: 764.6+ KB

In [38]:
display(df.describe())

,Year,Cereals and Grains (FAO (2017)) (kilocalories per person per day),Pulses (FAO (2017)) (kilocalories per person per day),Starchy Roots (FAO (2017)) (kilocalories per person per day),Sugar (FAO (2017)) (kilocalories per person per day),Oils & Fats (FAO (2017)) (kilocalories per person per day),Meat (FAO (2017)) (kilocalories per person per day),Dairy & Eggs (FAO (2017)) (kilocalories per person per day),Fruit and Vegetables (FAO (2017)) (kilocalories per person per day),Other (FAO (2017)) (kilocalories per person per day),Alcoholic Beverages (FAO (2017)) (kilocalories per person per day)
count,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8101.000000
mean,1988.014962,1064.064753,56.069046,179.074197,272.900049,357.627545,220.173412,170.550527,149.544395,28.833211,73.295889
std,15.384679,356.279239,51.150346,211.449560,152.690877,189.965492,157.937054,138.159514,97.050870,25.593864,71.148025
min,1961.000000,127.000000,0.000000,0.000000,0.000000,13.000000,16.000000,0.000000,4.000000,-1.000000,0.000000
25%,1975.000000,800.000000,19.000000,50.000000,139.000000,217.000000,89.000000,49.000000,81.000000,12.000000,17.000000
50%,1989.000000,1039.000000,43.000000,109.000000,285.000000,329.000000,174.000000,140.000000,132.000000,21.000000,52.000000
75%,2001.000000,1304.000000,76.000000,204.000000,389.000000,468.000000,328.000000,266.000000,196.000000,36.000000,113.000000
max,2013.000000,2530.000000,471.000000,1421.000000,707.000000,1053.000000,793.000000,696.000000,772.000000,190.000000,474.000000

In [39]:
df_working = df.copy(deep=True)
display(df_working.head())

,Entity,Year,Cereals and Grains (FAO (2017)) (kilocalories per person per day),Pulses (FAO (2017)) (kilocalories per person per day),Starchy Roots (FAO (2017)) (kilocalories per person per day),Sugar (FAO (2017)) (kilocalories per person per day),Oils & Fats (FAO (2017)) (kilocalories per person per day),Meat (FAO (2017)) (kilocalories per person per day),Dairy & Eggs (FAO (2017)) (kilocalories per person per day),Fruit and Vegetables (FAO (2017)) (kilocalories per person per day),Other (FAO (2017)) (kilocalories per person per day),Alcoholic Beverages (FAO (2017)) (kilocalories per person per day)
0,Afghanistan,1961,2530,16,25,51,92,88,102,82,13,0.0
1,Afghanistan,1962,2458,17,22,45,98,88,101,76,12,0.0
2,Afghanistan,1963,2212,17,23,47,106,91,110,79,13,0.0
3,Afghanistan,1964,2445,18,24,55,102,93,110,95,11,0.0
4,Afghanistan,1965,2431,18,24,57,105,95,118,95,13,0.0

In [40]:
# Get current column names
original_cols = df_working.columns

# Clean and standardize column names
def clean_col_name(col_name):
    # Keep everything before the first '('
    col_name = col_name.split('(')[0]

    col_name = col_name.lower()
    col_name = re.sub(r'[\s(),&]+', '_', col_name)
    col_name = re.sub(r'_{2,}', '_', col_name).strip('_')
    return col_name

print(original_cols)
cleaned_cols = [clean_col_name(col) for col in original_cols]
print(cleaned_cols)
# Assign cleaned column names back to the DataFrame
df_working.columns = cleaned_cols

# Display the first few rows of the DataFrame with new column names to verify
display(df_working.head())

Index(['Entity', 'Year',
       'Cereals and Grains (FAO (2017)) (kilocalories per person per day)',
       'Pulses (FAO (2017)) (kilocalories per person per day)',
       'Starchy Roots (FAO (2017)) (kilocalories per person per day)',
       'Sugar (FAO (2017)) (kilocalories per person per day)',
       'Oils & Fats (FAO (2017)) (kilocalories per person per day)',
       'Meat (FAO (2017)) (kilocalories per person per day)',
       'Dairy & Eggs (FAO (2017)) (kilocalories per person per day)',
       'Fruit and Vegetables (FAO (2017)) (kilocalories per person per day)',
       'Other (FAO (2017)) (kilocalories per person per day)',
       'Alcoholic Beverages (FAO (2017)) (kilocalories per person per day)'],
      dtype='object')
['entity', 'year', 'cereals_and_grains', 'pulses', 'starchy_roots', 'sugar', 'oils_fats', 'meat', 'dairy_eggs', 'fruit_and_vegetables', 'other', 'alcoholic_beverages']

,entity,year,cereals_and_grains,pulses,starchy_roots,sugar,oils_fats,meat,dairy_eggs,fruit_and_vegetables,other,alcoholic_beverages
0,Afghanistan,1961,2530,16,25,51,92,88,102,82,13,0.0
1,Afghanistan,1962,2458,17,22,45,98,88,101,76,12,0.0
2,Afghanistan,1963,2212,17,23,47,106,91,110,79,13,0.0
3,Afghanistan,1964,2445,18,24,55,102,93,110,95,11,0.0
4,Afghanistan,1965,2431,18,24,57,105,95,118,95,13,0.0

In [41]:
df_working.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8154 entries, 0 to 8153
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   entity                8154 non-null   object
 1   year                  8154 non-null   int64
 2   cereals_and_grains    8154 non-null   int64
 3   pulses                8154 non-null   int64
 4   starchy_roots         8154 non-null   int64
 5   sugar                 8154 non-null   int64
 6   oils_fats             8154 non-null   int64
 7   meat                  8154 non-null   int64
 8   dairy_eggs            8154 non-null   int64
 9   fruit_and_vegetables  8154 non-null   int64
 10  other                 8154 non-null   int64
 11  alcoholic_beverages   8101 non-null   float64
dtypes: float64(1), int64(10), object(1)
memory usage: 764.6+ KB

In [43]:
df_working['year'] = pd.to_datetime(df_working['year'], format='%Y')
df_working['entity'] = df_working['entity'].astype('category')
df_working.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8154 entries, 0 to 8153
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   entity                8154 non-null   category
 1   year                  8154 non-null   datetime64[ns]
 2   cereals_and_grains    8154 non-null   int64
 3   pulses                8154 non-null   int64
 4   starchy_roots         8154 non-null   int64
 5   sugar                 8154 non-null   int64
 6   oils_fats             8154 non-null   int64
 7   meat                  8154 non-null   int64
 8   dairy_eggs            8154 non-null   int64
 9   fruit_and_vegetables  8154 non-null   int64
 10  other                 8154 non-null   int64
 11  alcoholic_beverages   8101 non-null   float64
dtypes: category(1), datetime64[ns](1), float64(1), int64(9)
memory usage: 722.2 KB

In [44]:
df_working.isnull().sum()

entity                   0
year                     0
cereals_and_grains       0
pulses                   0
starchy_roots            0
sugar                    0
oils_fats                0
meat                     0
dairy_eggs               0
fruit_and_vegetables     0
other                    0
alcoholic_beverages     53
dtype: int64

In [46]:
median_alcoholic_beverages = df_working['alcoholic_beverages'].median()
print(f"Median of 'alcoholic_beverages': {median_alcoholic_beverages}")

Median of 'alcoholic_beverages': 52.0

In [47]:
df_working['alcoholic_beverages'].fillna(median_alcoholic_beverages, inplace=True)
df_working.isnull().sum()

entity                  0
year                    0
cereals_and_grains      0
pulses                  0
starchy_roots           0
sugar                   0
oils_fats               0
meat                    0
dairy_eggs              0
fruit_and_vegetables    0
other                   0
alcoholic_beverages     0
dtype: int64

In [48]:
df_working['alcoholic_beverages'] = df_working['alcoholic_beverages'].fillna(median_alcoholic_beverages)
df_working.isnull().sum()

entity                  0
year                    0
cereals_and_grains      0
pulses                  0
starchy_roots           0
sugar                   0
oils_fats               0
meat                    0
dairy_eggs              0
fruit_and_vegetables    0
other                   0
alcoholic_beverages     0
dtype: int64

In [49]:
num_duplicates = df_working.duplicated().sum()
print(f"Number of duplicate rows before removal: {num_duplicates}")

Number of duplicate rows before removal: 0

In [50]:
categorical_cols = df_working.select_dtypes(include='category').columns

for col in categorical_cols:
    print(f"\nUnique values and their counts for column: '{col}'")
    print(df_working[col].value_counts())
    print("\n" + "-"*50)

Unique values and their counts for column: 'entity'
entity
Afghanistan    53
New Zealand    53
Morocco        53
Mozambique     53
Myanmar        53
               ..
Luxembourg     14
Belgium        14
Montenegro      8
Serbia          8
Sudan           2
Name: count, Length: 173, dtype: int64

--------------------------------------------------

In [51]:
numerical_cols = df_working.select_dtypes(include=['int64', 'float64']).columns

print("Outlier Detection using IQR Method:")
print("----------------------------------")

for col in numerical_cols:
    Q1 = df_working[col].quantile(0.25)
    Q3 = df_working[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = df_working[(df_working[col] < lower_bound) | (df_working[col] > upper_bound)]
    num_outliers = outliers[col].count()

    print(f"Column '{col}': {num_outliers} outliers")

Outlier Detection using IQR Method:
----------------------------------
Column 'cereals_and_grains': 55 outliers
Column 'pulses': 317 outliers
Column 'starchy_roots': 875 outliers
Column 'sugar': 0 outliers
Column 'oils_fats': 110 outliers
Column 'meat': 32 outliers
Column 'dairy_eggs': 31 outliers
Column 'fruit_and_vegetables': 245 outliers
Column 'other': 550 outliers
Column 'alcoholic_beverages': 208 outliers

In [52]:
import numpy as np

numerical_cols = df_working.select_dtypes(include=['int64', 'float64']).columns

print("Capping Outliers using IQR Method:")
print("--------------------------------")

for col in numerical_cols:
    Q1 = df_working[col].quantile(0.25)
    Q3 = df_working[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Cap the outliers
    df_working[col] = np.clip(df_working[col], lower_bound, upper_bound)
    print(f"Column '{col}' outliers capped at [{lower_bound:.2f}, {upper_bound:.2f}]")

print("\nOutlier capping complete.")

Capping Outliers using IQR Method:
--------------------------------
Column 'cereals_and_grains' outliers capped at [44.00, 2060.00]
Column 'pulses' outliers capped at [-66.50, 161.50]
Column 'starchy_roots' outliers capped at [-181.00, 435.00]
Column 'sugar' outliers capped at [-236.00, 764.00]
Column 'oils_fats' outliers capped at [-159.50, 844.50]
Column 'meat' outliers capped at [-269.50, 686.50]
Column 'dairy_eggs' outliers capped at [-276.50, 591.50]
Column 'fruit_and_vegetables' outliers capped at [-91.50, 368.50]
Column 'other' outliers capped at [-24.00, 72.00]
Column 'alcoholic_beverages' outliers capped at [-125.50, 254.50]

Outlier capping complete.

In [53]:
numerical_cols = df_working.select_dtypes(include=['int64', 'float64']).columns

print("Outlier Verification after Capping:")
print("----------------------------------")

for col in numerical_cols:
    Q1 = df_working[col].quantile(0.25)
    Q3 = df_working[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = df_working[(df_working[col] < lower_bound) | (df_working[col] > upper_bound)]
    num_outliers = outliers[col].count()

    print(f"Column '{col}': {num_outliers} outliers")

Outlier Verification after Capping:
----------------------------------
Column 'cereals_and_grains': 0 outliers
Column 'pulses': 0 outliers
Column 'starchy_roots': 0 outliers
Column 'sugar': 0 outliers
Column 'oils_fats': 0 outliers
Column 'meat': 0 outliers
Column 'dairy_eggs': 0 outliers
Column 'fruit_and_vegetables': 0 outliers
Column 'other': 0 outliers
Column 'alcoholic_beverages': 0 outliers

In [54]:
display(df_working.head())

,entity,year,cereals_and_grains,pulses,starchy_roots,sugar,oils_fats,meat,dairy_eggs,fruit_and_vegetables,other,alcoholic_beverages
0,Afghanistan,1961-01-01,2060,16.0,25,51,92.0,88.0,102.0,82.0,13,0.0
1,Afghanistan,1962-01-01,2060,17.0,22,45,98.0,88.0,101.0,76.0,12,0.0
2,Afghanistan,1963-01-01,2060,17.0,23,47,106.0,91.0,110.0,79.0,13,0.0
3,Afghanistan,1964-01-01,2060,18.0,24,55,102.0,93.0,110.0,95.0,11,0.0
4,Afghanistan,1965-01-01,2060,18.0,24,57,105.0,95.0,118.0,95.0,13,0.0

In [55]:
output_file_path = '../../data/processed/cleaned-diet-compositions.csv.csv'
df_working.to_csv(output_file_path, index=False)
print(f"Cleaned data saved to {output_file_path}")

Cleaned data saved to ../../data/processed/cleaned-diet-compositions.csv.csv