In [1]:
# Step	Task
# 1	Load raw data
# 2	Make a working copy
# 3	Standardize column names
# 4	Fix data types
# 5	Handle missing values
# 6	Remove duplicates
# 7	Fix inconsistent values
# 8	Handle outliers
# 9	Rename columns consistently
# 10 Sort & organize data
# 11 Save cleaned data

In [2]:
import pandas as pd
import numpy as np
import re

In [4]:
df = pd.read_csv('../../data/raw/Obesity-rates.csv')
df.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21042,Prevalence of obesity in the adult population ...,2000,2000,%,4.3,X,Figure from external organization,NaN
1,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21042,Prevalence of obesity in the adult population ...,2001,2001,%,4.6,X,Figure from external organization,NaN
2,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21042,Prevalence of obesity in the adult population ...,2002,2002,%,5.0,X,Figure from external organization,NaN
3,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21042,Prevalence of obesity in the adult population ...,2003,2003,%,5.4,X,Figure from external organization,NaN
4,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21042,Prevalence of obesity in the adult population ...,2004,2004,%,5.8,X,Figure from external organization,NaN

In [5]:
df.columns

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code', 'Item', 'Year Code', 'Year', 'Unit', 'Value',
       'Flag', 'Flag Description', 'Note'],
      dtype='object')

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
df.isnull().sum()

Domain Code            0
Domain                 0
Area Code (M49)        0
Area                   0
Element Code           0
Element                0
Item Code              0
Item                   0
Year Code              0
Year                   0
Unit                   0
Value                  0
Flag                   0
Flag Description       0
Note                4554
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4554 entries, 0 to 4553
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       4554 non-null   object
 1   Domain            4554 non-null   object
 2   Area Code (M49)   4554 non-null   int64
 3   Area              4554 non-null   object
 4   Element Code      4554 non-null   int64
 5   Element           4554 non-null   object
 6   Item Code         4554 non-null   int64
 7   Item              4554 non-null   object
 8   Year Code         4554 non-null   int64
 9   Year              4554 non-null   int64
 10  Unit              4554 non-null   object
 11  Value             4554 non-null   float64
 12  Flag              4554 non-null   object
 13  Flag Description  4554 non-null   object
 14  Note              0 non-null      float64
dtypes: float64(2), int64(5), object(8)
memory usage: 533.8+ KB

In [9]:
df.describe()

,Area Code (M49),Element Code,Item Code,Year Code,Year,Value,Note
count,4554.000000,4554.0,4554.0,4554.000000,4554.000000,4554.000000,0.0
mean,426.934343,6121.0,21042.0,2011.000000,2011.000000,19.567479,NaN
std,255.896239,0.0,0.0,6.633978,6.633978,13.526510,NaN
min,4.000000,6121.0,21042.0,2000.000000,2000.000000,0.300000,NaN
25%,204.000000,6121.0,21042.0,2005.000000,2005.000000,9.500000,NaN
50%,420.000000,6121.0,21042.0,2011.000000,2011.000000,18.200000,NaN
75%,646.000000,6121.0,21042.0,2017.000000,2017.000000,25.500000,NaN
max,894.000000,6121.0,21042.0,2022.000000,2022.000000,75.200000,NaN

In [10]:
df = df.drop(columns=['Domain Code', 'Domain', 'Area Code (M49)', 'Element Code', 'Element', 'Item Code', 'Item', 'Year Code', 'Unit', 'Flag', 'Flag Description', 'Note'])
df.head()

          Area  Year  Value
0  Afghanistan  2000    4.3
1  Afghanistan  2001    4.6
2  Afghanistan  2002    5.0
3  Afghanistan  2003    5.4
4  Afghanistan  2004    5.8

In [11]:
output_file_path = '../../data/processed/cleaned-obesity-rates.csv'
df.to_csv(output_file_path, index=False)
print(f"Cleaned data saved to {output_file_path}")

Cleaned data saved to ../../data/processed/cleaned-obesity-rates.csv