In [7]:
import pandas as pd

In [8]:
countries_gdp = pd.read_csv('../raw-data/Income-GDP/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_216063.csv', skiprows=4)
countries_income_group = pd.read_csv('../raw-data/Income-GDP/Metadata_Country_API_NY.GDP.MKTP.CD_DS2_en_csv_v2_216063.csv')

In [9]:
gdp_filtered = countries_gdp[['Country Name', 'Country Code', '2000', '2022' ]]
gdp_filtered = gdp_filtered.rename(columns={'2024': 'GDP_2024'})
gdp_filtered.isnull().sum()

Country Name     0
Country Code     0
2000            14
2022            10
dtype: int64

In [13]:
gdp_filtered.duplicated().sum()

0

In [11]:
income_group_filtered = countries_income_group[['Country Code', 'IncomeGroup', 'SpecialNotes']]
income_group_filtered.isnull().sum()

Country Code      0
IncomeGroup      50
SpecialNotes    135
dtype: int64

In [12]:
merged_df = pd.merge(gdp_filtered, income_group_filtered, on='Country Code', how='inner')
merged_df.isnull().sum()

Country Name      0
Country Code      0
2000             13
2022              9
IncomeGroup      50
SpecialNotes    135
dtype: int64

In [6]:
merged_df['GDP_2024_Trillions'] = merged_df['GDP_2024'] / 1e12
merged_df = merged_df.drop(columns=['GDP_2024'])

In [7]:
null_gdp_income_df = merged_df[merged_df['GDP_2024_Trillions'].isnull() | merged_df['IncomeGroup'].isnull()]
null_gdp_income_df

,Country Name,Country Code,IncomeGroup,SpecialNotes,GDP_2024_Trillions
0,Aruba,ABW,High income,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,"26 countries, stretching from the Red Sea in t...",1.205974
2,Afghanistan,AFG,Low income,The reporting period for national accounts dat...,NaN
3,Africa Western and Central,AFW,NaN,"22 countries, stretching from the westernmost ...",0.670026
7,Arab World,ARB,NaN,Arab World aggregate. Arab World is composed o...,3.704768
...,...,...,...,...,...
253,"Venezuela, RB",VEN,NaN,NaN,NaN
254,British Virgin Islands,VGB,High income,NaN,NaN
255,Virgin Islands (U.S.),VIR,High income,NaN,NaN
258,World,WLD,NaN,NaN,111.252998
261,"Yemen, Rep.",YEM,Low income,The World Bank systematically assesses the app...,NaN

In [ ]:
merged_df.to_csv('../data/merged_gdp_income_data.csv', index=False)
print("merged")

merged