In [1]:
import pandas as pd

In [2]:
df_gdp = pd.read_csv('../data/clean_gdp_data.csv')
df_obesity = pd.read_csv("../data/clean_obesity_data.csv")

In [3]:
display(df_gdp)
display(df_obesity)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,1.8735,1.8965,1.9618,2.0441,2.2548,2.3600,2.4698,2.6776,...,2.7278,2.7908,2.9629,2.9836,3.0924,3.2762,3.3958,2.4819,2.9294,3.2793
1,Africa Eastern and Southern,AFE,287.2017,260.9922,267.8150,355.7164,442.6962,516.6611,580.2408,665.5987,...,962.4413,978.7438,898.3089,828.9612,973.0251,1012.2912,1009.7465,933.4072,1085.6049,1191.6386
2,Afghanistan,AFG,3.5214,2.8136,3.8257,4.5209,5.2249,6.2033,6.9718,9.7479,...,20.1464,20.4971,19.1342,18.1166,18.7535,18.0532,18.7994,19.9559,14.2600,14.4972
3,Africa Western and Central,AFW,142.1401,150.0585,179.3901,207.7550,258.5667,317.0965,402.7242,471.5378,...,844.2026,903.9337,778.0221,700.0282,694.0513,777.8404,833.2889,797.2952,858.1145,893.6399
4,Angola,AGO,9.1296,8.9361,15.2856,17.8127,23.5521,36.9709,52.3810,65.2664,...,132.3391,135.9668,90.4964,52.7616,73.6902,79.4507,70.8980,48.5016,66.5051,104.3997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,Kosovo,XKX,5.1818,5.1818,5.1818,5.1818,5.1818,5.1818,5.1818,5.1818,...,6.7353,7.0744,6.2958,6.6827,7.1808,7.8788,7.8997,7.7171,9.4134,9.3549
255,"Yemen, Rep.",YEM,9.6793,9.8530,10.6934,11.7775,13.8676,16.7316,19.0631,21.6505,...,40.4152,43.2286,42.4445,31.3178,26.8422,21.6062,21.6062,21.6062,21.6062,21.6062
256,South Africa,ZAF,151.7528,135.4299,129.0876,197.0190,255.8069,288.8672,303.8587,333.0771,...,400.8860,381.1989,346.7098,323.5855,381.4488,405.2607,389.3300,337.9747,420.8869,406.9200
257,Zambia,ZMB,3.6006,4.0944,4.1939,4.9019,6.2211,8.3319,12.7569,14.0570,...,28.0372,27.1410,21.2512,20.9584,25.8736,26.3115,23.3087,18.1378,22.0964,29.1638
258,Zimbabwe,ZWE,6.6900,6.7774,6.3421,5.7276,5.8056,5.7552,5.4439,5.2920,...,19.0910,19.4955,19.9631,20.5488,51.0747,34.1561,25.7157,26.8686,27.2405,32.7897

,Area,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,4.3,4.6,5.0,5.4,5.8,6.2,6.7,7.2,7.8,...,11.0,11.7,12.6,13.4,14.3,15.3,16.2,17.2,18.2,19.2
1,Albania,12.8,13.1,13.4,13.7,14.1,14.5,14.8,15.3,15.7,...,18.0,18.5,19.1,19.6,20.2,20.8,21.4,22.0,22.7,23.4
2,Algeria,13.4,13.9,14.3,14.7,15.2,15.6,16.0,16.5,16.9,...,19.2,19.7,20.2,20.8,21.3,21.8,22.3,22.8,23.3,23.8
3,American Samoa,68.4,68.8,69.1,69.4,69.7,70.0,70.3,70.6,71.0,...,72.6,72.9,73.2,73.5,73.8,74.1,74.4,74.7,74.9,75.2
4,Andorra,13.7,14.0,14.4,14.7,15.0,15.3,15.6,15.8,16.1,...,16.8,16.9,17.0,17.1,17.3,17.4,17.6,17.7,17.9,18.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Venezuela (Bolivarian Republic of),19.0,19.5,20.0,20.4,20.8,21.1,21.5,21.7,22.0,...,22.8,22.9,22.9,22.9,22.9,22.9,22.8,22.8,22.8,22.7
194,Viet Nam,0.3,0.3,0.3,0.4,0.4,0.4,0.5,0.5,0.6,...,0.9,1.0,1.1,1.2,1.3,1.4,1.6,1.7,1.9,2.0
195,Yemen,5.4,5.6,5.9,6.2,6.5,6.8,7.1,7.4,7.7,...,9.5,10.0,10.4,10.8,11.3,11.7,12.2,12.7,13.1,13.7
196,Zambia,3.7,3.9,4.1,4.4,4.6,4.9,5.1,5.4,5.7,...,7.2,7.5,7.9,8.3,8.7,9.1,9.6,10.0,10.5,11.1
197,Zimbabwe,6.8,7.1,7.3,7.5,7.7,8.0,8.3,8.5,8.8,...,10.4,10.8,11.1,11.5,11.9,12.3,12.8,13.2,13.7,14.2